.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
 
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 13%;
    min-height: 15em;
    /* justify-content: center; */
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}
figure .image-container {
    height: 18em;
    width: 10em;
    
}
figure img {
    width: 100%;
    max-height: 100%;
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

figure:hover  img, figure:hover button{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transform: scale(1.1);
}

figure p {
    text-align: center;
    margin: 0.4em;
}

figure #title {
    font-size: 1.15rem;
    font-weight: bold;
}


figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;

}


a {
    text-decoration: none;
    color: black;
    margin: 0px;
    text-align: center;
}

#price {
    font-weight: bold;
}


@media screen and (max-width: 768px) {
    .cards {
        justify-content: space-around;
    }

    figure {
        flex-basis: 30%;
        margin: 10px;
    }

    figure .image-container {
        height: 15em;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    figure {
        flex-basis: 100%;
        text-align: center;
    }
}