.my-orders-container {
    display: flex;
    width: 100%;
    justify-content: center;
    color: rgb(59, 59, 59);
}

.my-orders-container div {
    background-color: rgb(248, 244, 244);
    border-radius: 5px;
    border: 1px solid rgb(172, 201, 202);
    padding: 0 1em 1em 1em;
    margin: 1em;
}

.orders-details {
    width: 25em;
}

.table-orders {
    width: 30em;
}

.table-orders table{
    width: 100%;
    border-collapse: collapse;
}

.table-orders table th{
    text-align: left;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.table-orders table th,td{
    padding: 0.5em;
}

@media screen and (max-width: 758px) {
    .my-orders-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .my-orders-container div {
        background-color: rgb(248, 244, 244);
        border-radius: 5px;
        border: 1px solid rgb(172, 201, 202);
        padding: 0 1em 1em 1em;
        margin: 1em;
        width: 80%;
        overflow-x: auto;
    }
}